*.log
*.pdf
*.aux
*.nav
*.out
*.snm
*.toc
svg-inkscape/
.nvimlog

scientistpowerpoint/.~lock.2018-03_APS_V3.pptx#
_minted-basic/57FD6FA4D3E976FD882EBFF8D0721840452794EEED9F2AB10B8903B39D42BB91.pygtex
_minted-basic/default-pyg-prefix.pygstyle
_minted-basic/default.pygstyle
_minted-test/3B2B661F331D4AA4B96D87AAB4A1BBAB57D102490AAC31C7CB9DC0EC0000B058.pygtex
_minted-test/default-pyg-prefix.pygstyle
_minted-test/default.pygstyle
basic.vrb
newposter.pyg
poster.listing
poster.pyg
small2e.dvi
_minted-test/BD9C79C2BD3F6AA7AFCFC0F2D23C35CF57D102490AAC31C7CB9DC0EC0000B058.pygtex
images/.xdp_syringecommandstring.8EVPY0
_minted-test/autumn.pygstyle